.App {
  height: 100vh;
  padding-inline: 20px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
}
.image {
  max-width: 200px;
}
.card {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px black;
  padding: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 10px;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-weight: 600;
}
.sublist {
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  max-width: 800px;
  align-self: center;
  margin-bottom: 20px;
  padding: 10px;
  margin-inline: auto;
}
